.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.logo-text {
  width: 100px;
  height: auto;
  margin-top: 20px;
  margin-left: 10px;
}

.sidebar {
  width: 250px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.logo-text {
  width: 130px;
  margin-bottom: 25px;
}

.sidebar-one {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar-item i {
  font-size: 26px;
}

.sidebar-item:hover {
  background-color: #f5f5f5;
  width: 100%;
}

.sidebar-bottom {
  position: fixed;
  bottom: 0;
}

.story {
  height: 125px;
}
.border{
  width: 500px;

}
#username {
  font-size: medium;
  font-weight: 600;
  margin-left: 2px;
}
#hrs{
  font-size: 15px;
  margin-left: 7px;
  color: grey;
  margin-top: 2px;
}
.posts-content {
  margin-left: 125px;
  max-width: 500px;
  padding-top: 20px;
  border: 2px white solid;

}

#actions{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 28px;
}

.p-2 {
  font-size: 20px;
}
.suggestion-content{
  cursor: pointer;
}
.bx-bookmark:focus {
  background-color: grey;
}

.text-primary {
  margin-left: 160px;
  font-size: medium;
}

.p-4 {
  margin-left: 40px;
}

.px-5 {
  font-size: medium;
}

.span {

  font-size: small;
  margin-left: 100px;
  color: black;
}
.span:hover{
  color: gray;
}

#suggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sugg-footer{
  margin-left:50px ;
  font-size: small;
  color: gray;
  margin-top: 50px;
}
.follow-btn {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.text-primary:hover{
  text-decoration: underline;
}
#story-container{
  margin-left: 50px;
}

.stories {
  padding-top: 20px;
  display: flex;
  gap: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  justify-content: center;
  

}


.story-img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  padding: 4px;
  background: linear-gradient(45deg,#ff00ff,#ff6600,#ffcc00);
    

}

.story-username {
  font-size: 12px;
  margin-top: 5px;
  max-width: 70px;
  text-align: center;
  margin-left: 10px;
    font-weight:600;
}
.caption{
  padding: 15px;
}
